footer {
  display: flex;
  align-items: center;
  min-height: 256px;
  height: 100%;
  background-color: #b83922;
  width: 100%;
}
footer li {
  padding-left: 10px;
}

.footerWrapper {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  background-color: #b83922;
  width: 59%;
}
@media (max-width: 767px) {
  .footerWrapper {
    grid-template-columns: 1fr;
    margin-top: 34px;
    gap: 30px;
    margin-left: 20px;
  }
}
@media (min-width: 768px) {
  .footerWrapper {
    margin: 0 auto;
  }
}
.footerWrapper ul {
  padding-left: 0;
  list-style: none;
}
.footerWrapper .footerLogo {
  display: flex;
}
@media (max-width: 767px) {
  .footerWrapper .footerLogo {
    margin-left: 10px;
  }
}
.footerWrapper .footerLogo img {
  margin-right: 10px;
  width: 45px;
  height: 45px;
}
.footerWrapper p {
  margin: 5px 0 0 0;
  font-family: "anton";
  font-size: 24px;
}

.footerNav ul {
  max-width: 125px;
  width: 100%;
}
.footerNav ul li {
  transition: all 0.5s ease;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 10px;
  cursor: pointer;
}
.footerNav ul li:hover {
  background-color: #ec4d2f;
}
.footerNav ul li:active {
  background-color: #b83922;
}
.footerNav ul li:not(:last-child) {
  margin-bottom: 20px;
}

.contacts li:not(:last-child) {
  margin-bottom: 20px;
}