.mainContainer {
  display: flex;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto 50px auto;
  min-height: calc(100vh - 356px);
  padding-top: 150px;
  margin-bottom: 50px;
}
@media (max-width: 993px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
  }
}
.mainContainer h1 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 50px;
}
@media (max-width: 993px) {
  .mainContainer h1 {
    text-align: center;
  }
}
.mainContainer h3 {
  font-size: 16px;
}
.mainContainer p {
  margin: 10px 0 30px 0;
}
.mainContainer .bottomText {
  margin-top: 125px;
}
@media (max-width: 625px) {
  .mainContainer .bottomText {
    margin-top: 50px;
  }
}
.mainContainer article {
  margin-left: 3%;
  max-width: 570px;
  width: 100%;
}
@media (max-width: 993px) {
  .mainContainer article {
    width: 75%;
  }
}
.mainContainer aside {
  max-height: 605px;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 570px;
  width: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(236, 77, 47, 0) 0%, rgba(236, 77, 47, 0.17) 100%);
  border: 2px solid #ec4d2f;
  border-radius: 28px;
  margin-bottom: 20px;
}
@media (max-width: 625px) {
  .mainContainer aside {
    max-width: 335px;
    width: 80%;
  }
}
.mainContainer aside h2 {
  margin: 50px 0 50px 0;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
}
@media (max-width: 625px) {
  .mainContainer aside h2 {
    margin: 30px 0 30px 0;
    font-size: 16px;
  }
}
.mainContainer aside form {
  display: flex;
  flex-direction: column;
  max-width: 490px;
  width: 100%;
}
@media (max-width: 625px) {
  .mainContainer aside form {
    width: 85%;
  }
}
.mainContainer aside form input {
  margin-left: 4%;
  border: none;
  padding-left: 4%;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: "Montserrat";
  font-weight: 400;
  color: #ffffff;
  height: 55px;
  border-radius: 15px;
}
.mainContainer aside form input:not(:last-child) {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 625px) {
  .mainContainer aside form input {
    height: 45px;
    margin-top: 5px;
    margin-bottom: 6px;
  }
}
.mainContainer aside form input::placeholder {
  color: #ffffff;
  opacity: 0.5;
}
.mainContainer aside .redLightButtons {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 195px;
  margin-top: 30px;
}
@media (max-width: 625px) {
  .mainContainer aside .redLightButtons {
    font-size: 14px;
    width: 135px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
.mainContainer span {
  padding-left: 4%;
  font-size: 12px;
}
.mainContainer .hiddenSpan {
  display: none !important;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}