@import "variables";

.mainContainer {
    max-width: 1170px;
    width: 98%;
    margin: 0 auto 50px auto;
    min-height: calc(100vh - 356px);
    padding-top: $headerH + 50px;
    padding-left: 2%;

    @media (max-width: 832px) {
        width: 90%;
    }

    h1 {
        font-size: 20px;
        @include montserrat600;
        text-transform: uppercase;
        margin-bottom: 50px;
        @media (max-width: 832px) {
            font-size: 16px;
            text-align: center;
        }
    }
    video {
        width: 98%;
    }
    section {
        a {
            @media (max-width: 832px) {
                margin: 0 auto;
            }
        }
        line-height: 130%;
        margin-top: 50px;
        display: grid;
        @media (max-width: 832px) {
            grid-template-columns: 1fr;
        }
        grid-template-columns: 2fr 1fr;
        .redLightButtons {
            @media (max-width: 832px) {
                width: 164px;
                font-size: 14px;
            }
            max-width: 194px;
            width: 100%;
            @media (max-width: 832px) {
            }
        }
        h2 {
            @media (max-width: 832px) {
                font-size: 14px;
            }
            margin-bottom: 20px;
        }
        .stylizedText {
            font-style: italic;

            opacity: 0.6;
        }
    }
    .leftSection {
        @media (max-width: 832px) {
            font-size: 14px;
        }
        p {
            @media (max-width: 832px) {
                font-size: 14px;
            }
            margin-bottom: 30px;
        }

        max-width: 570px;
        width: 100%;
    }
    .rightsection {
        @media (max-width: 832px) {
            font-size: 14px;
        }
        max-width: 370px;
        width: 100%;
        li {
            margin-bottom: 20px;
        }
    }
}
