@import "variables";
body {
    margin: 0;
    background-color: $backBlue;
    color: white;
    @include montserrat400;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}
header {
    z-index: 5;
    position: fixed;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: $redLight;
    height: $headerH;
    width: 100%;
    .hiddenBrandName {
        @include anton;
        font-size: 24px;
        @media (min-width: 767px) {
            display: none;
        }
    }
    ul {
        justify-content: space-evenly;
        width: 100%;
        padding-left: 0;
        display: flex;
        list-style: none;
        align-items: center;
        li {
            user-select: none;
            cursor: pointer;
            border-radius: 10px;
            transition: all 0.5s ease;
            padding: 1px 10px 1px 10px;
            &:hover {
                background: $redDark;
            }
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
    .topBar {
        background-color: $redDark;
        max-width: 535px;
        width: 63%;
        height: 75px;
        display: flex;
        align-items: center;
        @media (min-width: 767px) and (max-width: 1200px) {
            width: 45%;
        }
        @media (max-width: 767px) {
            width: 15%;
        }
    }
}

.left {
    flex-direction: row-reverse;
    border-radius: 0 100px 100px 0;
    padding-right: 25px;
    .topBartBrandName {
        @include anton;
        font-size: 24px;

        margin-left: 10px;
        @media (max-width: 767px) {
            display: none;
        }
    }
    img {
        @media (max-width: 767px) {
            width: 30px;
            height: 30px;
        }
    }
}
.right {
    padding-left: 25px;
    border-radius: 100px 0 0 100px;
    .languageButton {
        cursor: pointer;
        margin-right: 60px;
        position: relative;
    }
}
.topBarButtons {
    @media (min-width: 767px) {
        display: flex;
    }

    @media (max-width: 767px) {
        display: none;
    }
    .languagePopUp {
        background: radial-gradient(50% 50% at 50% 50%, rgba(236, 77, 47, 0) 0%, rgba(236, 77, 47, 0.17) 100%);
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-right: 30px;
        padding-left: 30px;
        border: 2px solid $redLight;
        border-radius: 28px;
        width: 219px;
        height: 142px;
        text-align: end;
        position: absolute;
        top: 125px;
        left: 62%;
        p {
            &:hover {
                color: $redLight;
                cursor: pointer;
            }
            &:first-child {
                border-bottom: 1px solid $redLight;
                padding-bottom: 20px;
            }
        }
    }
}

.burgerIconDiv {
    @include flexcenter;
    flex-direction: column;

    @media (min-width: 767px) {
        display: none;
    }
    width: 30px;
    height: 30px;
    .burgerIcon {
        user-select: none;
        @media (min-width: 767px) {
            display: none;
        }
    }
}

.hidden {
    display: none !important;
}
.burgerMenu {
    margin-top: $headerH;
    width: 100%;
    background-color: $backBlue;
    position: fixed;
    z-index: 99;
    overflow-y: hidden;
    height: 100vh;

    ul {
        margin-top: 50px;
        padding-left: 20px;
        list-style: none;
        li {
            cursor: pointer;
            transition: all 0.5s ease;
            margin-bottom: 20px;
            padding-bottom: 20px;
            max-width: 182px;
            border-bottom: 1px solid $redLight;
            &:hover {
                transition: all 0.5s ease;
                max-width: 150px;
            }
        }
    }
}
.redLightButtons {
    height: 55px;
    font-size: 18px;
    @include montserrat400;
    background: radial-gradient(50% 50% at 50% 50%, rgba(236, 77, 47, 0) 0%, rgba(236, 77, 47, 0.17) 100%);
    color: white;
    border: 2px solid $redLight;
    border-radius: 15px;
    user-select: none;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
        background: $redLight;
    }
    &:active {
        background: $redDark;
    }
}
.swipe {
    user-select: none;
    transition: all 0.5s ease;
    border: none;
    background-color: $redDark;
    width: 90px;
    height: 50px;

    &:hover {
        background-color: $redLight;
    }
    &:active {
        background-color: darken($redDark, $amount: 3);
    }
}
.next {
    margin-left: 20px;
    border-radius: 0px 100px 100px 0px;
}
.prev {
    border-radius: 100px 0px 0px 100px;
}
a {
    color: inherit;
    text-decoration: inherit;
}
